body {
  background-color: #222222;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

nav {
  background-color: #4C6477;
  width: 100%;
}

.navbar-brand {
  color: white;
  font-size: 200%;
  text-decoration: none;
}

nav li {
  display: inline;
  color: white;
  margin-right: 10px;
  margin-top: 16px;
}

nav ul {
  padding: 0px;
}

.nav-item a {
  color: #222222;
}

.navbar-nav>li>a {
  color: white;
}

img {
  width: 100%;
}
